<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% if title %}{{ title }} | {% endif %}Your Website &ndash; Simplified & Supercharged.</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="description" content="{{ description | default: 'Everyone deserves a website that is fast, simple, and effortless to manage.' }}">

		<!-- Styles -->
		<link rel="stylesheet" href="/assets/css/style.css">
		{%- if css %}
		<link rel="stylesheet" href="/assets/css/{{ css }}.css">
		{%- endif %}

		<!-- Favicons -->
		<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
		<link rel="manifest" href="/assets/favicons/site.webmanifest">
		<link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
		<link rel="shortcut icon" href="/assets/favicons/favicon.ico">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="msapplication-config" content="/assets/favicons/browserconfig.xml">
		<meta name="theme-color" content="#ffffff">

		<!-- OpenGraph -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@rszabodesign">
		<meta name="twitter:creator" content="@rszabodesign">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://rolandszabo.design/">
		<meta property="og:title" content="Your Website - Simplified & Supercharged. | Roland Szabó Design">
		<meta property="og:description" content="{{ description | default: 'Everyone deserves a website that is fast, simple, and effortless to manage.' }}">
		<meta property="og:image" content="/assets/images/og-image.webp">

		<!-- FontAwesome -->
		<link rel="stylesheet" href="/assets/css/fontawesome.min.css" media="print" onload="this.media='all'">
		<link rel="stylesheet" href="/assets/css/fontawesome-solid.min.css" media="print" onload="this.media='all'">
		<link rel="stylesheet" href="/assets/css/fontawesome-brands.min.css" media="print" onload="this.media='all'">

		<!-- Google Analytics -->
		<script defer src="https://www.googletagmanager.com/gtag/js?id=G-7EM7TYLQD9"></script>
		<script defer src="/assets/js/analytics.js"></script>
	</head>
	<body>
		{% include "partials/header.html" %}
		{{ content }}
		{% include "partials/footer.html" %}
	</body>
</html>
