/* Process */

.process {
	display: grid;
	grid-gap: 2rem;
	margin-bottom: 0;
	margin-left: 2.5rem;
	counter-reset: process;
}

@media only screen and (max-width: 767px) {
	.process {
		border-left: .5rem solid var(--bg-dark);
	}
}

@media only screen and (min-width: 768px) {
	.process {
		border-left: 1rem solid var(--bg-dark);
	}
}

.process__title {
	counter-increment: process;
	margin-top: 0;
	margin-bottom: 1rem;
}

@media only screen and (max-width: 767px) {
	.process__title {
		margin-left: -2.25rem;
	}
}

@media only screen and (min-width: 768px) {
	.process__title {
		margin-left: -3rem;
	}
}

.process__title::before {
	content: counter(process);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-weight: 800;
	color: var(--bg);
	line-height: 1;
	letter-spacing: -1px;
	border-radius: 100%;
	background-color: var(--pink);
}

@media only screen and (max-width: 767px) {
	.process__title::before {
		width: 4rem;
		height: 4rem;
		margin-right: 1.25rem;
		font-size: 2rem;
	}
}

@media only screen and (min-width: 768px) {
	.process__title::before {
		width: 5rem;
		height: 5rem;
		margin-right: 2rem;
		font-size: 3rem;
	}
}

.process__text {
	margin-bottom: 0;
}

@media only screen and (max-width: 767px) {
	.process__text {
		margin-left: 3rem;
	}
}

@media only screen and (min-width: 768px) {
	.process__text {
		margin-left: 4rem;
	}
}



/* Testimonial, Quote */

.testimonials {
	display: grid;
	grid-gap: 2rem;
}

@media only screen and (min-width: 768px) {
	.testimonials {
		grid-template-columns: repeat(2, 1fr);
	}
}

.testimonial {
	border-left: 1rem solid var(--bg-light);
	background-color: var(--bg-dark);
}

@media only screen and (max-width: 767px) {
	.testimonial {
		padding: 2rem;
	}
}

@media only screen and (min-width: 768px) {
	.testimonial {
		padding: 3rem;
	}
}

.testimonial__header {
	display: grid;
	grid-template-columns: 10rem 1fr;
	grid-gap: 2rem;
	align-items: center;
	margin-bottom: 2rem;
}

.testimonial__image {
	clip-path: var(--rhombus);
	width: 10rem;
	height: 10rem;
	background-color: var(--bg-light);
}

.testimonial__author {
	color: var(--text-dark);
	grid-column: 2;
}

.testimonial__name {
	display: block;
	font-weight: 700;
	color: var(--text);
}

.testimonial__text {
	margin-bottom: 0;
}

.testimonial__text:before { content: "“"; }
.testimonial__text:after  { content: "”"; }



/* FAQ, Accordion */

.faq {
	margin-bottom: 1rem;
	background-color: var(--bg-light);
}

.faq__question {
	cursor: pointer;
	padding: 1rem 2rem;
	font-weight: 700;
	transition: var(--transition-duration) color;
}

.faq__question:hover,
.faq__question:focus {
	color: var(--yellow);
}

.faq__answer {
	padding: 1rem 2rem 1rem;
	color: var(--text-light);
}
