.home__tagline {
	margin-top: 0;
	margin-bottom: 3rem;
	font-weight: 700;
}

.simplified {
	font-weight: 700;
	color: var(--text-light);
}

.supercharged {
	font-weight: 700;
	background: var(--gradient);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.supercharged::selection {
	background-clip: initial;
	-webkit-background-clip: initial;
	-webkit-text-fill-color: initial;
}

.benefits {
	display: grid;
}

@media only screen and (max-width: 767px) {
	.benefits {
		grid-gap: 3rem;
	}
}

@media only screen and (min-width: 768px) {
	.benefits {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 4rem 6rem;
	}
}

@media only screen and (max-width: 767px) {
	.benefits__item {
		padding-top: 1.5rem;
		border-top: .5rem solid var(--bg-dark);
	}
}

@media only screen and (min-width: 768px) {
	.benefits__item {
		padding-top: 2rem;
		border-top: 1rem solid var(--bg-dark);
	}
}

.benefits__title {
	margin-top: 0;
}

.process {
	display: grid;
	grid-gap: 2rem;
	margin-left: 2.5rem;
	counter-reset: process;
}

@media only screen and (max-width: 767px) {
	.process {
		border-left: .5rem solid var(--bg-dark);
	}
}

@media only screen and (min-width: 768px) {
	.process {
		border-left: 1rem solid var(--bg-dark);
	}
}

.process__title {
	counter-increment: process;
	margin-top: 0;
	margin-bottom: 1rem;
}

@media only screen and (max-width: 767px) {
	.process__title {
		margin-left: -2.25rem;
	}
}

@media only screen and (min-width: 768px) {
	.process__title {
		margin-left: -3rem;
	}
}

.process__title::before {
	content: counter(process);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-weight: 800;
	color: var(--bg);
	line-height: 1;
	letter-spacing: -1px;
	border-radius: 100%;
	background-color: var(--pink);
}

@media only screen and (max-width: 767px) {
	.process__title::before {
		width: 4rem;
		height: 4rem;
		margin-right: 1.25rem;
		font-size: 2rem;
	}
}

@media only screen and (min-width: 768px) {
	.process__title::before {
		width: 5rem;
		height: 5rem;
		margin-right: 2rem;
		font-size: 3rem;
	}
}

.process__text {
	margin-bottom: 0;
}

@media only screen and (max-width: 767px) {
	.process__text {
		margin-left: 3rem;
	}
}

@media only screen and (min-width: 768px) {
	.process__text {
		margin-left: 4rem;
	}
}
