.portfolio {
	margin-bottom: 2rem;
	border-top: .5rem solid var(--yellow);
	background-color: var(--bg-dark);
}

@media only screen and (max-width: 767.98px) {
	.portfolio {
		padding: 2rem;
	}
}

@media only screen and (min-width: 768px) {
	.portfolio {
		padding: 3rem;
	}
}

.portfolio__title {
	margin-top: 0;
}

.portfolio__gallery {
	display: grid;
	grid-gap: 1rem;
	margin-bottom: 3rem;
}

@media only screen and (max-width: 575px) {
	.portfolio__gallery {
		grid-template-columns: initial;
	}
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
	.portfolio__gallery {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media only screen and (min-width: 768px) {
	.portfolio__gallery {
		grid-template-columns: repeat(3, 1fr);
	}
}

.portfolio__image {
	cursor: pointer;
	transition: var(--transition-duration) opacity;
}

.portfolio__image:hover,
.portfolio__image:focus {
	opacity: .75;
}

@media only screen and (max-width: 767.98px) {
	.portfolio__image--featured {
		grid-column: -1 / 1;
	}
}
