/*
	Roland Szabó Design v2
	https://rolandszabo.design
*/



/* Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }



/* Webfonts */

@font-face {
	font-display: swap;
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 200;
	src: url('../webfonts/nunito-200.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 700;
	src: url('../webfonts/nunito-700.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 800;
	src: url('../webfonts/nunito-800.woff2') format('woff2');
}



/* Variables */

:root {
	--yellow: #ffaf40;
	--pink: #ff4d79;

	--text: #a1a7b3;
	--text-dark: #6c7380;
	--text-light: #dadee5;

	--bg: #1f2533;
	--bg-dark: #151b26;
	--bg-light: #262f40;

	--rhombus: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
	--parallelogram: polygon(2rem 0, 100% 0, calc(100% - 2rem) 100%, 0 100%);
	--parallelogram-after: polygon(2.5rem .5rem, calc(100% - .7rem) .5rem, calc(100% - 2.5rem) calc(100% - .5rem), .7rem calc(100% - .5rem));

	--gradient: -webkit-linear-gradient(left, var(--yellow), var(--pink));
	--transition-duration: .25s;
}



/* Base */

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

@media (prefers-reduced-motion: reduce) {
	html { scroll-behavior: initial; }
}

::selection {
	color: var(--bg);
	background-color: var(--yellow);
}

body {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: "Nunito", sans-serif;
	font-weight: 200;
	color: var(--text);
	letter-spacing: -0.25px;
	line-height: 1.75;
	background-color: var(--bg);
}

@media only screen and (max-width: 575.98px) {
	body {
		font-size: 1.6rem;
	}
}

@media only screen and (min-width: 576px) {
	body {
		font-size: 1.8rem;
	}
}

@media only screen and (min-width: 768px) {
	body {
		font-size: 2rem;
	}
}

body:before {
	content: '';
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 10rem;
	background: linear-gradient(to bottom, var(--bg-dark) 0%, var(--bg) 100%);
}

img {
	max-width: 100%;
	height: auto;
}

.main {
	flex-grow: 1;
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.container {
	max-width: 96rem;
	margin: 0 auto;
	padding-left: 2rem;
	padding-right: 2rem;
}

.section {
	padding-bottom: 4rem;
}

.cta {
	margin-top: 4rem;
	padding-top: 6rem;
	padding-bottom: 6rem;
	text-align: center;
	background-color: var(--bg-dark);
}



/* Typography */

h1, h2, h3,
.h1, .h2, .h3 {
	color: var(--text-light);
}

h1, .h1 {
	letter-spacing: -1px;
	line-height: 1.4;
}

@media only screen and (max-width: 575.98px) {
	h1, .h1 {
		margin-bottom: 3rem;
		font-size: 3rem;
	}
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
	h1, .h1 {
		margin-bottom: 4rem;
		font-size: 4rem;
	}
}

@media only screen and (min-width: 768px) {
	h1, .h1 {
		margin-bottom: 5rem;
		font-size: 5rem;
	}
}

h2, .h2 {
	margin-bottom: 2rem;
	letter-spacing: -.75px;
	line-height: 1.4;
}

@media only screen and (max-width: 575.98px) {
	h2, .h2 {
		margin-top: 2.5rem;
		font-size: 2.5rem;
	}
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
	h2, .h2 {
		margin-top: 3rem;
		font-size: 3rem;
	}
}

@media only screen and (min-width: 768px) {
	h2, .h2 {
		margin-top: 4rem;
		font-size: 4rem;
	}
}

h3, .h3 {
	margin-bottom: 1.5rem;
	font-weight: 700;
	letter-spacing: -.5px;
	line-height: 1.4;
}

@media only screen and (max-width: 575.98px) {
	h3, .h3 {
		margin-top: 1.5rem;
		font-size: 2rem;
	}
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
	h3, .h3 {
		margin-top: 2rem;
		font-size: 2.5rem;
	}
}

@media only screen and (min-width: 768px) {
	h3, .h3 {
		margin-top: 2.5rem;
		font-size: 3rem;
	}
}

p,
ul,
ol {
	margin-bottom: 2rem;
}

li {
	margin-bottom: 1rem;
}

a {
	color: var(--yellow);
	text-decoration: none;
	border-bottom: 1px dashed var(--text-dark);
	transition: var(--transition-duration) color;
}

a:hover,
a:focus {
	color: #FFF;
}

strong {
	font-weight: 700;
}

em {
	font-style: italic;
}

small {
	font-size: 82.5%;
}

.text-center {
	text-align: center;
}

.text-pink { color: var(--pink); }
.text-yellow { color: var(--yellow); }
.text-light { color: var(--text-light); }
.text-dark { color: var(--text-dark); }

.icon-left {
	margin-right: 1rem;
}

.page-header {
	margin-bottom: 5rem;
}

.subheading {
	margin-bottom: 3rem;
}

.page-header__title,
.subheading__title {
	margin-bottom: 1rem;
}

.page-header__text,
.subheading__text {
	margin-bottom: 0;
}



/* Buttons */

.btn {
	position: relative;
	display: inline-block;
	padding: 1.25rem 4.25rem;
	font-weight: 800;
	color: #FFF;
	letter-spacing: -.5px;
	text-transform: uppercase;
	border: 0;
	background-color: var(--bg-light);
	clip-path: var(--parallelogram);
}

.btn:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	background-color: var(--bg-dark);
	clip-path: var(--parallelogram-after);
	transition: var(--transition-duration) color, var(--transition-duration) transform;
	transform: scale(0, 0);
}

.btn:hover:after,
.btn:focus:after {
	transform: scale(1, 1);
}

.btn--primary {
	color: var(--bg);
	background: var(--gradient);
}



/* Services */

.services {
	display: grid;
	margin-bottom: 2rem;
}

@media only screen and (max-width: 991.98px) {
	.services {
		grid-gap: 2rem;
	}
}

@media only screen and (min-width: 992px) {
	.services {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 4rem;
	}
}

.service {
	background-color: var(--bg-dark);
}

@media only screen and (max-width: 767.98px) {
	.service {
		padding: 2rem;
		border-left: .5rem solid var(--bg-light);
	}
}

@media only screen and (min-width: 768px) {
	.service {
		padding: 3rem;
		border-left: .75rem solid var(--bg-light);
	}
}

.service--pink {
	border-left-color: var(--pink);
}

.service--yellow {
	border-left-color: var(--yellow);
}

.service__header {
	display: flex;
	align-items: center;
}

@media only screen and (max-width: 767.98px) {
	.service__header {
		margin-bottom: 2rem;
	}
}

@media only screen and (min-width: 768px) {
	.service__header {
		margin-bottom: 3rem;
	}
}

.service__icon {
	font-size: 5rem;
	margin-right: 2rem;
}

.service__title {
	margin-top: 0;
	margin-bottom: 0;
}



/* Header */

.header:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: .5rem;
	background: var(--gradient);
}

.header__container {
	display: grid;
	align-items: center;
	justify-content: center;
}

@media only screen and (min-width: 768px) {
	.header__container {
		grid-template-columns: auto 1fr;
		grid-gap: 1rem;
		margin-top: 1rem;
	}
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	color: var(--text-light);
	text-align: center;
	line-height: 1;
	border: 0;
}

@media only screen and (max-width: 767.98px) {
	.logo {
		margin-top: 2rem;
		padding: 1rem;
	}
}

@media only screen and (min-width: 768px) {
	.logo {
		margin-top: 0;
		margin-left: -2rem;
		padding: 2rem;
	}
}

.logo__rsd {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 7rem;
	height: 3rem;
	margin-right: 1rem;
	font-weight: 800;
	font-size: 2rem;
	letter-spacing: -1.4px;
	color: var(--bg);
	background: var(--text);
	clip-path: var(--parallelogram);
}

@media only screen and (min-width: 768px) {
	.nav {
		margin-left: auto;
		margin-right: -2rem;
	}
}

.nav__list {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 0;
}

.nav__item {
	margin-bottom: 0;
}

.nav__link {
	display: block;
	color: var(--text);
	line-height: 1;
	border: 0;
}

@media only screen and (max-width: 575.98px) {
	.nav__link {
		padding: 1.25rem;
	}
}

@media only screen and (min-width: 576px) {
	.nav__link {
		padding: 2rem;
	}
}

.nav__link:hover,
.nav__link:focus {
	color: var(--text-light);
}



/* Footer */

.footer {
	padding: 2rem;
	color: var(--text-dark);
	text-align: center;
}

.footer__link {
	color: var(--text-dark);
}

.footer__link:hover,
.footer__link:focus {
	color: var(--yellow);
}

.copyright {
	margin-bottom: 1rem;
	font-weight: 700;
	letter-spacing: -.5px;
}

.smallprint {
	font-size: 87.5%;
}



/* Utility  Classes */

.mt-0 { margin-top: 0; }
.mt-2 { margin-top: 2rem; }

.mb-0 { margin-bottom: 0; }
.mb-2 { margin-bottom: 2rem; }
